node_modules
.DS_store
/public/assets/css/*.css
/public/assets/js/*.js
/public/assets/img/*.png
/public/assets/img/*.jpg
/public/assets/img/*.jpeg
/public/assets/img/*.gif
/public/assets/img/*.svg
.vscode